{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% if dgo.bootstrap['version'] == 'v4' %}
  {% set classesGroup = 'my-1 mr-sm-2 ' ~ dgm.classesAndSize(dgo, 'input_group') %}
{% else %}
  {% set classesGroup = 'input-group input-group-sm' %}
{% endif %}

{% set desc = searchField['desc']|default(null) %}
{% set label = searchField['label']|default(null) %}

<div class="{{ classesGroup }}">
  {% include '@HBMDatagrid/Menu/search-fields/partials/label.html.twig' with { 'dgo': dgo, 'label': label, 'desc': desc, 'searchField': searchField } only %}
  {% include '@HBMDatagrid/Menu/search-fields/partials/options.html.twig' with { 'dgo': dgo, 'searchKey': searchKey, 'searchField': searchField } only %}
 {% block form_element %}{% endblock form_element %}
</div>
