{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% set classesAddon = 'input-group-prepend' %}
{% set classesInfo = dgm.icon(dgo, 'search_info') ~ ' ' ~ dgm.classes(dgo, 'search_info') %}

<span class="{{ classesAddon }}"><span class="input-group-text">{{ dgm.trans(label, dgo.tdSearchField(searchField)) }}{% if desc %}&nbsp;<i class="{{ classesInfo }}" title="{{ dgm.trans(desc, dgo.tdSearchField(searchField)) }}"></i>{% endif %}</span></span>
