{% trans_default_domain datagrid.transDomainFixed %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}

{% if cell.route %}
  <a href="{{ dg.path(cell.link(obj, column, row)) }}" {{ cell.attr('a')|raw }}>{{ cell.value(obj, column, row)|hbmRaw(cell.option('raw', false)) }}</a>
{% else %}
  {{ cell.value(obj, column, row)|hbmRaw(cell.option('raw', false)) }}
{% endif %}
