{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% if cell.route %}
  <a href="{{ dgm.path(cell.link(obj, column, row)) }}" {{ cell.attr('a')|raw }}>{{ cell.value(obj, column, row)|hbmRaw(cell.option('raw', false)) }}</a>
{% else %}
  {{ cell.value(obj, column, row)|hbmRaw(cell.option('raw', false)) }}
{% endif %}
