{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dg %}

{% if cell.route %}
  <a href="{{ dg.path(cell.link(column, row, obj)) }}" {{ cell.attr('a')|raw }}>{{ cell.parseValue(column, row, obj)|raw }}</a>
{% else %}
  {{ cell.parseValue(column, row, obj)|raw }}
{% endif %}
