{% trans_default_domain "HBMDatagridBundle" %}

<tbody class="datagrid-table-body">
{% for row, obj in datagrid.results %}
  <tr>
    {% for column, cell in datagrid.cells if not cell.extended or datagrid.extended %}
      <td {{ cell.attr('td')|raw }}>
        {% include cell.template(obj, column, row) with cell.templateParams(obj, column, row)|merge({ 'datagrid': datagrid, 'cell': cell, 'column': column, 'row': row, 'obj': obj, 'transDomain': transDomain }) only %}
      </td>
    {% endfor %}
  </tr>
{% endfor %}
</tbody>

