{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagridBundle/macros.html.twig' as dg %}

{% if cell.route %}
  <a href="{{ dg.path(cell.link(obj, column, row)) }}" {{ cell.attr('a')|raw }}>{{ cell.parseValue(obj, column, row)|raw }}</a>
{% else %}
  {{ cell.parseValue(obj, column, row)|raw }}
{% endif %}
