{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}

{% set datagrid_id = 'datagrid-'~random() %}

{% if datagrid.menu.show %}
  <div class="datagrid-menu {{ dg.classes(datagrid, 'navbar') }}">
    {% include '@HBMDatagrid/Menu/navbar-v4-stats.html.twig' %}

    {% include '@HBMDatagrid/Menu/buttons/navbar-v4-toggler.html.twig' %}

    <div class="collapse navbar-collapse justify-content-end" id="{{ datagrid_id~'-navbar' }}">
      {% include '@HBMDatagrid/Menu/navbar-v4-search-form.html.twig' %}

      {% set datagrid_actions_classes = 'my-1 mx-1 ' %}
      <div class="datagrid-menu-actions d-flex flex-wrap justify-content-center align-items-center ml-sm-3 mt-3 mt-sm-0">
        {% include '@HBMDatagrid/Menu/buttons/navbar-v4-extended.html.twig' %}

        {% include '@HBMDatagrid/Menu/buttons/navbar-v4-reset.html.twig' %}

        {% include '@HBMDatagrid/Menu/buttons/navbar-v4-exports.html.twig' %}

        {% include '@HBMDatagrid/Menu/buttons/navbar-v4-max-entries.html.twig' %}
      </div>
    </div>
  </div>
{% endif %}
