{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}

{% set datagrid_id = 'datagrid-'~random() %}
{% set datagrid_actions_classes = 'my-1 mx-1 ' %}

{% if datagrid.menu.show %}
  <div class="datagrid-menu {{ dg.classes(datagrid, 'navbar') }}">
    {% block datagrid_menu_stats %}
      {% include '@HBMDatagrid/Menu/elements/navbar-v4-stats.html.twig' %}
    {% endblock datagrid_menu_stats %}

    {% block datagrid_menu_toggler %}
      {% include '@HBMDatagrid/Menu/elements/navbar-v4-toggler.html.twig' %}
    {% endblock datagrid_menu_toggler %}

    <div class="collapse navbar-collapse justify-content-end" id="{{ datagrid_id~'-navbar' }}">
      {% block datagrid_menu_search_form %}
        {% include '@HBMDatagrid/Menu/elements/navbar-v4-search-form.html.twig' %}
      {% endblock datagrid_menu_search_form %}

      {% block datagrid_menu_actions %}
        {% include '@HBMDatagrid/Menu/elements/navbar-v4-actions.html.twig' %}
      {% endblock datagrid_menu_actions %}
    </div>
  </div>
{% endif %}
