{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dg %}


{% if datagrid.bootstrap['version'] == 'v4' %}
  {% set classes = 'my-1 mr-sm-2' ~ dg.classesAndSize(datagrid, 'input-group') %}
{% else %}
  {% set classes = 'input-group' %}
{% endif %}


<div class="{{ classes }}">
  <span class="input-group-addon">123</span>
  <input type="text" class="form-control" placeholder="{{ dg.trans(searchField['label'], transDomain) }}" name="{{ searchKey }}" value="{{ datagrid.menu.searchValue(searchKey) }}">
</div>
