<div class="input-group input-group-sm">
	<span class="input-group-addon">123</span>
	<input type="text" class="form-control" placeholder="{{ searchField['label']|trans }}" name="{{ searchKey }}" value="{{ datagrid.menu.searchValue(searchKey) }}">
</div>