{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dgMacros %}

<div class="input-group input-group-sm">
  <span class="input-group-addon">123</span>
  <input type="text" class="form-control" placeholder="{{ dgMacros.dgTrans(searchField['label']) }}" name="{{ searchKey }}" value="{{ datagrid.menu.searchValue(searchKey) }}">
</div>
