{% trans_default_domain 'HBMDatagridBundle' %}

{% embed '@HBMDatagrid/Menu/partials/base.html.twig' with { 'datagrid': datagrid, 'searchKey': searchKey, 'searchField': searchField, 'transDomain': transDomain } only %}
  {% block form_element %}
    {% set attributes = attributes(searchField['attr']|default([])).add({
      'name': searchKey
    }).addClasses('form-control') %}

    <select {{ attributes|raw }}>
      <option></option>
      {% set keys = datagrid.menu.searchValue(searchKey) %}
      {% if searchField['values'] is defined %}
        {% for key, value in searchField['values'] %}
          {% if value is iterable %}
            <optgroup label="{{ key }}">
              {% for optgroupKey, optgroupValue in value %}
                {% include '@HBMDatagrid/Menu/partials/select-option.html.twig' with { 'key': optgroupKey, 'value': optgroupValue, 'keys': keys, 'transDomain': transDomain } only %}
              {% endfor %}
            </optgroup>
          {% else %}
            {% include '@HBMDatagrid/Menu/partials/select-option.html.twig' with { 'key': key, 'value': value, 'keys': keys, 'transDomain': transDomain } only %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </select>
  {% endblock form_element %}
{% endembed %}
