{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% set datagrid_actions_classes = 'my-1 mx-1 ' %}

{% if dgo.menu.show %}
  <div class="datagrid-menu {{ dgm.classes(dgo, 'navbar') }}">
    {% block datagrid_menu_stats %}
      {% include '@HBMDatagrid/Menu/elements/navbar-v4-stats.html.twig' %}
    {% endblock datagrid_menu_stats %}

    {% block datagrid_menu_toggler %}
      {% include '@HBMDatagrid/Menu/elements/navbar-v4-toggler.html.twig' %}
    {% endblock datagrid_menu_toggler %}

    <div class="collapse navbar-collapse justify-content-end" id="{{ datagrid_id~'-navbar' }}">
      {% block datagrid_menu_search_form %}
        {% include '@HBMDatagrid/Menu/elements/navbar-v4-search-form.html.twig' %}
      {% endblock datagrid_menu_search_form %}

      {% block datagrid_menu_actions %}
        {% include '@HBMDatagrid/Menu/elements/navbar-v4-actions.html.twig' %}
      {% endblock datagrid_menu_actions %}
    </div>
  </div>
{% endif %}
